<%= simple_form_for([:admin, page]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="fieldset">
    <%= f.input :slug %>
  </div>

  <div class="fieldset">
    <%= f.input :title_en, wrapper_html: { class: "col-span-2" } %>
    <%= f.input :body_en, wrapper: :rich_editor %>
    <%= f.input :description_en, wrapper: :autogrow %>
    <%= f.input :keywords_en, wrapper: :autogrow %>
  </div>

  <div class="fieldset">
    <%= f.input :title_el, wrapper_html: { class: "col-span-2" } %>
    <%= f.input :body_el, wrapper: :rich_editor %>
    <%= f.input :description_el, wrapper: :autogrow %>
    <%= f.input :keywords_el, wrapper: :autogrow %>
  </div>

  <div class="fieldset">
    <%= f.input :images, input_html: { multiple: true } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save page" %>
    <% if page.new_record? %>
      <%= link_to "Cancel", admin_pages_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "Cancel", admin_page_path(page), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
