<%= content_tag :article, id: dom_id(article), class: "pb-6 mb-6 border-b border-neutral-300" do %>
  <header class="mb-4">
    <h2 class="text-2xl"><%= article.title %></h2>
    <p class="mt-2 text-sm font-serif italic text-neutral-500">
      <%= t ".published" %>
      <%= l article.published_on, format: :short %>
      <%= t ".in_category" %>
      <q><%= article.article_category.name %></q>
    </p>
  </header>

  <%= markdown article.body %>
<% end %>
