<header class="page-header">
  <h1><%= title "Activities" %></h1>
</header>

<%= form_with url: "", method: "get", data: { turbo_frame: "activities", turbo_action: "advance", controller: "search" } do |f| %>
  <div class="flex py-3 space-x-2 border-b border-neutral-200 dark:border-neutral-800">
    <%= f.search_field :query, placeholder: "Search...", value: params[:query], class: "field-input", data: { action: "input->search#submit" } %>
    <%= f.collection_select :user_id, User.order(:first_name, :last_name, :id), :id, :name, { include_blank: "User...", selected: params[:user_id] }, class: "w-auto field-input", data: { action: "change->search#submit" } %>
  </div>
<% end %>

<%= turbo_frame_tag "activities" do %>
  <% if @pagy.count.zero? %>
    <div class="empty-state">
      <p>No activities matched the set criteria.</p>
    </div>
  <% else %>
    <ul>
      <%= render @activities %>
    </ul>

    <%== pagy_nav(@pagy) %>
  <% end %>
<% end %>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="create" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
  </symbol>

  <symbol id="update" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
  </symbol>

  <symbol id="destroy" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </symbol>

  <symbol id="sort" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round" d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4" />
  </symbol>
</svg>
