<header class="page-header">
  <h1><%= title "Activities" %></h1>
</header>

<%= form_with url: "", method: "get", data: { turbo_frame: "activities", turbo_action: "advance", controller: "search" } do |f| %>
  <div class="flex py-3 space-x-2 border-b border-stone-200">
    <%= f.search_field :query, placeholder: "Search...", value: params[:query], class: "field-input", data: { action: "input->search#submit" } %>
    <%= f.collection_select :user_id, User.order(:first_name, :last_name, :id), :id, :name, { include_blank: "User...", selected: params[:user_id] }, class: "w-auto field-input", data: { action: "change->search#submit" } %>
  </div>
<% end %>

<%= turbo_frame_tag "activities" do %>
  <% if @pagy.count.zero? %>
    <div class="my-4 h-32 flex flex-col items-center justify-center border-4 border-dashed rounded-md border-stone-300">
      <p class="text-sm text-stone-500">
        No activities matched the set criteria.
      </p>
    </div>
  <% else %>
    <ul>
      <%= render @activities %>
    </ul>

    <%== pagy_nav(@pagy) %>
  <% end %>
<% end %>
