
<%= simple_form_for([:admin, product]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="fieldset">
    <%= f.association :product_category, collection: ProductCategory.roots, as: :grouped_select, group_method: :children %>
    <%= f.association :supplier, collection: Supplier.order(:name) %>
  </div>

  <div class="fieldset">
    <%= f.input :title_en, wrapper_html: { class: "col-span-2" } %>
    <%= f.input :body_en, wrapper: :rich_editor %>
  </div>

  <div class="fieldset">
    <%= f.input :title_el, wrapper_html: { class: "col-span-2" } %>
    <%= f.input :body_el, wrapper: :rich_editor %>
  </div>

  <div class="fieldset" data-controller="publication" data-publication-control-value="published">
    <%= f.input :status, collection: Article.statuses.keys, label_method: :titleize, input_html: { data: { action: "change->publication#toggleDateFields" } } %>
    <%= f.input :published_on, include_blank: true, wrapper_html: { class: ("hidden" unless f.object.published?), data: { publication_target: "dateFields" } } %>
  </div>

  <div class="fieldset">
    <%= f.input :images, input_html: { multiple: true } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save product" %>
    <% if product.new_record? %>
      <%= link_to "Cancel", admin_products_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "Cancel", admin_product_path(product), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
