<header class="page-header">
  <h1><%= title "Product details" %></h1>
  <%= link_to "Edit product", edit_admin_product_path(@product), class: "ml-auto btn btn-primary" if policy(@product).update? %>
  <%= button_to "Delete product", admin_product_path(@product), method: :delete, class: "ml-4 btn btn-danger", form: { data: { turbo_confirm: "Are you sure you want to delete this product?" } } if policy(@product).destroy? %>
</header>

<%= show_for @product do |s| %>
  <%= s.attribute :title_en %>
  <%= s.attribute :body_en do %>
    <%= markdown @product.body_en %>
  <% end %>
  <%= s.attribute :title_el %>
  <%= s.attribute :body_el do %>
    <%= markdown @product.body_el %>
  <% end %>
  <%= s.attribute :images do %>
    <%= sortable_thumbnails_for @product %>
  <% end %>
  <%= s.attribute :product_category do %>
    <%= link_to @product.product_category, admin_product_category_path(@product.product_category), class: "link" %>
  <% end %>
  <%= s.attribute :supplier do %>
    <%= link_to @product.supplier, admin_supplier_path(@product.supplier), class: "link" %>
  <% end %>
  <%= s.attribute :status do %>
    <%= badge_for @product.status %>
  <% end %>
  <%= s.attribute :published_on %>
  <%= s.attribute :created_at do %>
    <%= local_time @product.created_at, format: :long %>
  <% end %>
  <%= s.attribute :updated_at do %>
    <%= local_time @product.updated_at, format: :long %>
  <% end %>
  <%= s.attribute :history do %>
    <%= render "admin/activities/history", trackable: @product %>
  <% end %>
<% end %>
