
<%= simple_form_for([:admin, user]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="fieldset">
    <%= f.input :first_name, autofocus: true %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :time_zone %>
  </div>

  <div class="fieldset">
    <% if user.new_record? %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    <% end %>
    <%= f.input :role, collection: User.roles.keys, label_method: :titleize, hint: "Banned users are not allowed to log into the admin area." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save user" %>
    <% if user.new_record? %>
      <%= link_to "Cancel", admin_users_path, class: "btn btn-secondary" %>
    <% else %>
      <%= link_to "Cancel", admin_user_path(user), class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
