<header class="page-header">
  <h1><%= title "User details" %></h1>
  <%= link_to "Edit user", edit_admin_user_path(@user), class: "ml-auto btn btn-primary" if policy(@user).update? %>
  <%= button_to "Delete user", admin_user_path(@user), method: :delete, class: "ml-4 btn btn-danger", form: { data: { turbo_confirm: "Are you sure you want to delete this user?" } } if policy(@user).destroy? %>
</header>

<%= show_for @user do |s| %>
  <%= s.attribute :first_name %>
  <%= s.attribute :last_name %>
  <%= s.attribute :email %>
  <%= s.attribute :time_zone %>
  <%= s.attribute :token %>
  <%= s.attribute :role, value: :titleize %>
  <%= s.attribute :created_at do %>
    <%= local_time(@user.created_at, format: :long) %>
  <% end %>
  <%= s.attribute :updated_at do %>
    <%= local_time(@user.updated_at, format: :long) %>
  <% end %>
  <%= s.attribute :history do %>
    <%= render "admin/activities/history", trackable: @user %>
  <% end %>
<% end %>
