<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="ltr" class="bg-neutral-100 dark:bg-neutral-900">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <%= display_meta_tags site: "Experiment", noindex: true, nofollow: true, noarchive: true %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="/favicon.png" type="image/png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen flex items-center justify-center p-4 text-neutral-700 bg-neutral-100 dark:text-neutral-300 dark:bg-neutral-900">
    <%= render "admin/shared/flash" %>

    <main class="card max-w-sm">
      <%= yield %>
    </main>
  </body>
</html>
